<section>

<h2>現在の求人<span>List of Jobs</span></h2>
<p>以下のサムネイル画像は直接imgタグで配置しています。必要に応じて入れ替えて下さい。</p>

<ul class="list2">
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">飲食店の求人<br><span>10件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">営業の求人<br><span>200件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">接客・販売の求人<br><span>300件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">事務の求人<br><span>1,234件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">飲食店の求人<br><span>10件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">営業の求人<br><span>200件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">接客・販売の求人<br><span>300件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">事務の求人<br><span>1,234件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">飲食店の求人<br><span>10件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">営業の求人<br><span>200件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">接客・販売の求人<br><span>300件</span></a></li>
<li><a href="list.html"><img src="images/00338.png" alt="" class="img">事務の求人<br><span>1,234件</span></a></li>
</ul>

</section>

</div>
<!--/.inner-->

<div class="inner">

<div class="main">

<section id="new">

<h2>お知らせ<span>What's New</span></h2>
<dl>
<dt>2018/07/31</dt>
<dd>tp_job2公開。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
</dl>
<p class="r">&raquo;&nbsp;<a href="#">過去ログ</a></p>

</section>
