<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <title>求人サイト向け 無料ホームページテンプレート tp_job2</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
